################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Presentacion/Demo/.vs/Demo/v16
/Presentacion/Demo/bin/Debug
/Presentacion/Demo/obj/Debug
*.user
